.chat-app-container {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  margin: 20px 0;
  height: 300px;
  width: 300px; }

.chatbox-pen {
  z-index: 1000;
  pointer-events: none !important;
  display: flex;
  width: 100vw;
  position: fixed;
  bottom: 0;
  margin-bottom: 0; }
  .chatbox-pen ul, .chatbox-pen li {
    list-style: none; }

.chat-sidebar-container-contents {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  margin: 0 1rem;
  pointer-events: auto;
  background-color: #ffffff;
  width: 20rem;
  height: 50rem;
  display: block;
  padding: 1rem 2rem;
  overflow: auto; }

.title {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  margin: 0 1rem;
  pointer-events: auto;
  width: 20rem;
  cursor: pointer;
  padding: 0.5rem 1rem 0.5rem 2rem;
  background-color: #ff5602;
  color: #ffffff; }

.clear-title {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  pointer-events: auto;
  width: 20rem;
  cursor: pointer;
  padding: 0.5rem 1rem 0.5rem 2rem;
  background-color: #efefef;
  color: #000000; }

.title-name {
  cursor: pointer; }

.chat-box-title {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  pointer-events: auto;
  width: 20rem;
  z-index: 1000;
  padding: 0.5rem 1rem 0.5rem 2rem;
  background-color: #ff0274;
  color: #ffffff;
  align-self: flex-end; }

.chat-box-container {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  display: flex;
  pointer-events: auto;
  z-index: 1000;
  background-color: #ffffff;
  width: 20rem;
  height: 25rem; }

.chat-box-wrapper {
  margin: 0 1rem;
  align-self: flex-end;
  order: 1; }

.close, .close:hover {
  float: right;
  color: #ffffff;
  opacity: 0.5;
  font-size: 1.25rem;
  margin: 0.5rem 0; }

.online {
  cursor: pointer; }
