.big-doodle {
  margin-bottom: 4rem; }

.big-doodle-img {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  margin-top: 20px;
  webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35); }

.img-card {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  background-color: #ffffff;
  width: 300px; }

.profile-card {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  height: 350px;
  width: 300px;
  background-color: #ffffff;
  margin: 3rem 1rem 4rem 1rem;
  display: inline-block; }

.img-info {
  margin-top: 3rem;
  padding-bottom: 5rem; }

.date-h4 {
  margin-top: 0; }

.comment-name {
  padding-top: 2rem; }

.img-card-comment {
  margin: 0 0 4rem 0; }

hr.divider-rule {
  border-top: 4px solid #ff0274; }

.doodle-container {
  width: 300px !important;
  height: 300px;
  height: auto; }

.edit-button {
  float: right; }

.doodle-header {
  position: inline; }

.img-names {
  padding-left: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem; }
