body {
  background-color: #eeeeee;
  margin-bottom: 80px;
  font-family: 'Work Sans', sans-serif; }
  body .container {
    max-width: 1020px; }
  body a {
    color: #ff5602;
    text-decoration: underline; }
  body a:hover {
    color: #ff5602;
    text-decoration: none;
    cursor: pointer; }
  body .app-container {
    z-index: 50;
    margin-top: 8rem; }
  body .hidden {
    display: none; }
