.masterpiece-container {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  width: 450px;
  height: 450px;
  margin: 20px auto;
  background-color: #ffffff; }

.profile-masterpiece-container {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  width: 450px;
  height: 450px;
  margin: 20px 0;
  background-color: #ffffff; }

.comment-pen {
  margin-top: 5rem; }

.create-comment-container {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  width: 300px;
  height: 300px;
  margin: 0;
  background-color: #ffffff; }

.master-header {
  display: inline; }

.follow-btns {
  display: inline;
  margin-left: 1rem; }

#follow-button {
  background-color: #ff0274;
  color: white;
  margin-left: 1rem;
  margin-bottom: 10px;
  padding-left: 2rem;
  padding-right: 2rem; }

#unfollow-button {
  background-color: #ff5602;
  color: white;
  margin-left: 1rem;
  margin-bottom: 10px; }

.draft-name {
  color: black;
  padding-bottom: 0px;
  margin-bottom: 0px; }

.draft-date {
  color: black;
  margin-top: 2px; }

.masterpiece-input {
  display: inline;
  box-sizing: border-box;
  background: transparent;
  border: none;
  border-bottom: 4px solid #ff0274;
  margin-bottom: 10px;
  font-size: 36px; }

.masterpiece-title {
  display: inline;
  box-sizing: border-box;
  border-bottom: 4px solid #ff0274; }

.master-h1 {
  width: 40%;
  display: inline; }

#master-form {
  display: inline;
  box-sizing: border-box; }

#save-button {
  background-color: #ff0274;
  color: white;
  margin-left: 1rem; }

#post-button {
  background-color: #ff5602;
  color: white;
  margin-left: 1rem; }

#comment-button {
  background-color: #ff5602;
  color: white; }

#master-buttons {
  margin-top: 10px; }

.draft-section {
  padding-top: 40px; }

#clear-button {
  margin-right: 10px; }

.palette {
  margin-top: 20px; }
  .palette .red {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    height: 36px;
    margin: 10px 0;
    background-color: #ff0000; }
  .palette .orange {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    height: 36px;
    margin: 10px 0;
    background-color: #ff5602; }
  .palette .yellow {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    height: 36px;
    margin: 10px 0;
    background-color: #ffff00; }
  .palette .green {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    height: 36px;
    margin: 10px 0;
    background-color: #00ff00; }
  .palette .blue {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    height: 36px;
    margin: 10px 0;
    background-color: #0000ff; }
  .palette .purple {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    height: 36px;
    margin: 10px 0;
    background-color: #8500ff; }
  .palette .black {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    height: 36px;
    margin: 10px 0;
    background-color: #000000; }
  .palette .white {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    height: 36px;
    margin: 10px 0;
    background-color: #ffffff; }

.little-palette {
  margin: 20px 0;
  height: 30px; }
  .little-palette .little-red {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    height: 30px;
    width: 12.5%;
    display: inline-block;
    margin: 0px 0px;
    background-color: #ff0000; }
  .little-palette .little-orange {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    height: 30px;
    width: 12.5%;
    display: inline-block;
    margin: 0px 0px;
    background-color: #ff5602; }
  .little-palette .little-yellow {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    height: 30px;
    width: 12.5%;
    display: inline-block;
    margin: 0px 0px;
    background-color: #ffff00; }
  .little-palette .little-green {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    height: 30px;
    width: 12.5%;
    display: inline-block;
    margin: 0px 0px;
    background-color: #00ff00; }
  .little-palette .little-blue {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    height: 30px;
    width: 12.5%;
    display: inline-block;
    margin: 0px 0px;
    background-color: #0000ff; }
  .little-palette .little-purple {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    height: 30px;
    width: 12.5%;
    display: inline-block;
    margin: 0px 0px;
    background-color: #8500ff; }
  .little-palette .little-black {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    height: 30px;
    width: 12.5%;
    display: inline-block;
    margin: 0px 0px;
    background-color: #000000; }
  .little-palette .little-white {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    height: 30px;
    width: 12.5%;
    display: inline-block;
    margin: 0px 0px;
    background-color: #ffffff; }
