.masterpiece-container {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  width: 450px;
  height: 450px;
  margin: 20px auto;
  background-color: #ffffff; }

.palette {
  margin-top: 20px; }
  .palette .red {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    height: 36px;
    margin: 10px 0;
    background-color: #ff0000; }
  .palette .orange {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    height: 36px;
    margin: 10px 0;
    background-color: #ff5602; }
  .palette .yellow {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    height: 36px;
    margin: 10px 0;
    background-color: #ffff00; }
  .palette .green {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    height: 36px;
    margin: 10px 0;
    background-color: #00ff00; }
  .palette .blue {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    height: 36px;
    margin: 10px 0;
    background-color: #0000ff; }
  .palette .purple {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    height: 36px;
    margin: 10px 0;
    background-color: #8500ff; }
  .palette .black {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    height: 36px;
    margin: 10px 0;
    background-color: #000000; }
  .palette .white {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    height: 36px;
    margin: 10px 0;
    background-color: #ffffff; }
