body {
  background-color: #eeeeee;
  margin-bottom: 80px;
  font-family: 'Work Sans', sans-serif; }
  body .container {
    max-width: 1020px; }
  body a {
    color: #ff5602;
    text-decoration: underline; }
  body a:hover {
    color: #ff5602;
    text-decoration: none;
    cursor: pointer; }
  body .app-container {
    z-index: 50;
    margin-top: 8rem; }
  body .hidden {
    display: none; }

.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000; }
  .navbar a {
    text-decoration: none; }

.custom-navbar-default {
  background-color: #ffffff;
  background-image: none;
  background-repeat: no-repeat;
  filter: none; }

.custom-navbar-logo-pink {
  color: #ff0274; }

.custom-navbar-logo-orange {
  color: #ff5602; }

nav .btn-default {
  background-color: #ffffff;
  background-image: none;
  color: #ff0274;
  border: none;
  box-shadow: none;
  font-size: 1.75rem; }

nav .btn-default:hover {
  color: #ff0274;
  border: none;
  box-shadow: none;
  font-size: 1.75rem; }

nav .form-group {
  width: 100%;
  background-color: #ffffff;
  background-image: none; }

nav .navbar-brand, nav .navbar-brand:hover {
  background-color: #ffffff;
  background-image: none;
  box-shadow: none; }

nav .glyphicon-comment, nav .glyphicon-comment:hover, nav .glyphicon-file, nav .glyphicon-file:hover {
  color: #ff0274;
  font-size: 1.75rem; }

nav .navbar-default {
  background-color: #ffffff;
  background-image: none;
  box-shadow: none; }

.user-dropdown {
  vertical-align: center;
  position: relative;
  padding-top: 9px;
  padding-right: 5px; }

#welcomeName {
  vertical-align: center;
  position: relative;
  padding-top: 15px;
  padding-right: 10px;
  color: #000000;
  font-weight: 500; }

.searchStyle {
  z-index: 1;
  top: 10px;
  position: absolute; }

.resultStyle {
  background-color: white; }

.big-doodle {
  margin-bottom: 4rem; }

.big-doodle-img {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  margin-top: 20px;
  webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35); }

.img-card {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  background-color: #ffffff;
  margin: 0 0 4rem 0;
  padding: 2rem; }

.img-card-comment {
  margin: 0 0 4rem 0; }

hr.divider-rule {
  border-top: 4px solid #ff0274; }

.doodle-container {
  margin-right: 50rem;
  height: auto; }

.edit-button {
  float: right; }

.doodle-header {
  position: inline; }

.chat-app-container {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  margin: 20px 0;
  height: 300px;
  width: 300px; }

.chatbox-pen {
  z-index: 1000;
  pointer-events: none !important;
  display: flex;
  width: 100vw;
  position: fixed;
  bottom: 0;
  margin-bottom: 0; }
  .chatbox-pen ul, .chatbox-pen li {
    list-style: none; }

.chat-sidebar-container-contents {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  margin: 0 1rem;
  pointer-events: auto;
  background-color: #ffffff;
  width: 20rem;
  height: 50rem;
  display: block;
  padding: 1rem 2rem;
  overflow: auto; }

.title {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  margin: 0 1rem;
  pointer-events: auto;
  width: 20rem;
  cursor: pointer;
  padding: 0.5rem 1rem 0.5rem 2rem;
  background-color: #ff5602;
  color: #ffffff; }

.clear-title {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  pointer-events: auto;
  width: 20rem;
  cursor: pointer;
  padding: 0.5rem 1rem 0.5rem 2rem;
  background-color: #efefef;
  color: #000000; }

.title-name {
  cursor: pointer; }

.chat-box-title {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  pointer-events: auto;
  width: 20rem;
  z-index: 1000;
  padding: 0.5rem 1rem 0.5rem 2rem;
  background-color: #ff0274;
  color: #ffffff;
  align-self: flex-end;
  z-index: 1001; }

.chat-box-container {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  display: flex;
  pointer-events: auto;
  z-index: 1000;
  background-color: #ffffff;
  width: 20rem;
  height: 25rem; }

.chat-box-wrapper {
  margin: 0 1rem;
  align-self: flex-end;
  order: 1; }

.close, .close:hover {
  float: right;
  color: #ffffff;
  opacity: 0.5;
  font-size: 1.25rem;
  margin: 0.5rem 0; }

.online {
  cursor: pointer; }

.masterpiece-container {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  width: 450px;
  height: 450px;
  margin: 20px auto;
  background-color: #ffffff; }

.master-header {
  display: inline; }

.masterpiece-input {
  display: inline;
  box-sizing: border-box;
  background: transparent;
  border: none;
  border-bottom: 4px solid #ff0274;
  margin-bottom: 10px;
  font-size: 36px; }

.masterpiece-title {
  display: inline;
  box-sizing: border-box;
  border-bottom: 4px solid #ff0274; }

.master-h1 {
  width: 40%;
  display: inline; }

#master-form {
  display: inline;
  box-sizing: border-box; }

#save-button {
  background-color: #ff0274;
  color: white;
  margin-left: 1rem; }

#post-button {
  background-color: #ff5602;
  color: white;
  margin-left: 1rem; }

#master-buttons {
  margin-top: 10px;
  float: right; }

.draft-section {
  padding-top: 40px; }

#clear-button {
  margin-right: 10px; }

.palette {
  margin-top: 20px; }
  .palette .red {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    height: 36px;
    margin: 10px 0;
    background-color: #ff0000; }
  .palette .orange {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    height: 36px;
    margin: 10px 0;
    background-color: #ff5602; }
  .palette .yellow {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    height: 36px;
    margin: 10px 0;
    background-color: #ffff00; }
  .palette .green {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    height: 36px;
    margin: 10px 0;
    background-color: #00ff00; }
  .palette .blue {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    height: 36px;
    margin: 10px 0;
    background-color: #0000ff; }
  .palette .purple {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    height: 36px;
    margin: 10px 0;
    background-color: #8500ff; }
  .palette .black {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    height: 36px;
    margin: 10px 0;
    background-color: #000000; }
  .palette .white {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
    height: 36px;
    margin: 10px 0;
    background-color: #ffffff; }

.login-form {
  margin: 0 auto;
  padding-right: 30%; }

.back-line {
  line-height: 0;
  border-bottom: 1px dotted #999;
  text-align: center; }

.back-line > span {
  background: #fff;
  color: #999;
  padding: 0.5em;
  border: 1px dotted #999;
  border-radius: 50%; }

.buffer {
  margin: 1.5em 0.8em; }

.profile-canvas {
  background-color: #eeeeee; }
