body {
  font-family: 'Work Sans', sans-serif; }
  body a {
    color: #ff5602;
    text-decoration: underline; }
  body a:hover {
    color: #ff5602;
    text-decoration: none; }
  body .online {
    color: #ff0274; }

.navbar a {
  text-decoration: none; }

.custom-navbar-default {
  background-color: #ffffff;
  background-image: none;
  background-repeat: no-repeat;
  filter: none; }

.custom-navbar-logo-pink {
  color: #ff0274; }

.custom-navbar-logo-orange {
  color: #ff5602; }

.user-dropdown {
  vertical-align: center;
  position: relative;
  padding-top: 9px;
  padding-right: 5px; }

#welcomeName {
  vertical-align: center;
  position: relative;
  padding-top: 15px;
  padding-right: 10px;
  color: #777; }

.big-doodle {
  margin-bottom: 4rem; }

.big-doodle-img {
  webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  margin-top: 20px; }

.img-card {
  margin: 0 0 4rem 0;
  padding: 2rem;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35); }

.img-card-comment {
  margin: 0 0 4rem 0; }

hr.divider-rule {
  border-top: 4px solid #ff0274; }

.chat-app-container {
  height: 70vh;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35); }

.chat-sidebar-container {
  padding: 0 2rem;
  height: 70vh;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35); }

.masterpiece-container {
  height: 70vh;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35); }

.login-form {
  margin: 0 auto;
  padding-right: 30%; }

.back-line {
  line-height: 0;
  border-bottom: 1px dotted #999;
  text-align: center; }

.back-line > span {
  background: #fff;
  color: #999;
  padding: 0.5em;
  border: 1px dotted #999;
  border-radius: 50%; }

.buffer {
  margin: 1.5em 0.8em; }
