@import "color";

.chat-app-container {
  @include shadow;
  margin: 20px 0;
  height: 300px;
  width: 300px;
}

.chatbox-pen {
  z-index: 1000;
  pointer-events: none !important;
  display: flex;
  width: 100vw;
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  ul, li {
    list-style: none;
  }
}

.chat-sidebar-container-contents {
  @include shadow;
  margin: 0 1rem;
  pointer-events: auto;
  background-color: #ffffff;
  width: 20rem;  
  height: 50rem;
  display: block;
  padding: 1rem 2rem;
  overflow: auto;
}

.title {
  @include shadow;
  margin: 0 1rem;
  pointer-events: auto;
  width: 20rem;
  cursor: pointer;
  padding: 0.5rem 1rem 0.5rem 2rem;
  background-color: $drawsome-orange;
  color: #ffffff;
}

.clear-title {
  @include shadow;
  pointer-events: auto;
  width: 20rem;
  cursor: pointer;
  padding: 0.5rem 1rem 0.5rem 2rem;
  background-color: #efefef;
  color: #000000;
}

.title-name {
  cursor: pointer;
}

.chat-box-title {
  @include shadow;
  pointer-events: auto;
  width: 20rem;
  z-index: 1000;
  padding: 0.5rem 1rem 0.5rem 2rem;
  background-color: $drawsome-pink;
  color: #ffffff;
  align-self: flex-end;
  z-index: 1001;
}

.chat-box-container {
  @include shadow;
  display: flex;
  pointer-events: auto;
  z-index: 1000;
  background-color: #ffffff;
  width: 20rem;  
  height: 25rem;
}

.chat-box-wrapper {
  margin: 0 1rem;
  align-self: flex-end;
  order: 1;
}

.close, .close:hover {
  float: right;
  color: #ffffff;
  opacity: 0.5;
  font-size: 1.25rem;
  margin: 0.5rem 0;
}


.online {
  cursor: pointer;
}