@import "color";

body {
  background-color: #eeeeee;
  margin-bottom: 80px;
  .container {
    max-width: 1020px;
  }
  font-family: 'Work Sans', sans-serif;
  a {
    color: $drawsome-orange;
    text-decoration: underline;
  }
  a:hover {
    color: $drawsome-orange;
    text-decoration: none;
    cursor: pointer;
  }
  .app-container {
    z-index: 50;
    margin-top: 8rem;
  }
  .hidden {
    display: none;
  }
}