@import "color";

@mixin palettestyles {
  @include shadow;
  height: 36px;
  margin: 10px 0;
}

.masterpiece-container {
  @include shadow;
  width: 450px;
  height: 450px;
  margin: 20px auto;
  background-color: #ffffff;
}

#save-button {
  background-color: $drawsome-pink;
  float: right;
  color: white;
}

.palette {
  margin-top: 20px;
  .red {
    @include palettestyles;
    background-color: #ff0000;
  }
  .orange {
    @include palettestyles;
    background-color: $drawsome-orange;
  }
  .yellow {
    @include palettestyles;
    background-color: #ffff00;
  }
  .green {
    @include palettestyles;
    background-color: #00ff00;
  }
  .blue {
    @include palettestyles;
    background-color: #0000ff;
  }
  .purple {
    @include palettestyles;
    background-color: #8500ff;
  }
  .black {
    @include palettestyles;
    background-color: #000000;
  }
  .white {
    @include palettestyles;
    background-color: #ffffff;
  }
}
