.navbar {
  a {
    text-decoration: none;
  }
}

.custom-navbar-default {
  background-color: #ffffff;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

.custom-navbar-logo-pink {
  color: #ff0274;
}

.custom-navbar-logo-orange {
  color: #ff5602;
}

nav .btn-default {
  background-color: #ffffff;
  background-image: none;
  color: $drawsome-pink;
  border: none;
  box-shadow: none;
  font-size: 1.75rem;

}

nav .btn-default:hover{
  color: $drawsome-pink;
  border: none;
  box-shadow: none;
  font-size: 1.75rem;

}

nav .form-group {
  width: 100%;
  background-color: #ffffff;
  background-image: none;
}

nav .navbar-brand, nav .navbar-brand:hover {
  background-color: #ffffff;
  background-image: none;
  box-shadow: none;
}

nav .glyphicon-comment, nav .glyphicon-comment:hover, nav .glyphicon-file, nav .glyphicon-file:hover {
  color: $drawsome-pink;
  font-size: 1.75rem;
}

nav .navbar-default{
  background-color: #ffffff;
  background-image: none;
  box-shadow: none;
}

.user-dropdown {
	vertical-align: center;
	position: relative;
	padding-top: 9px;
	padding-right: 5px;
}

#welcomeName {
	vertical-align: center;
	position: relative;
	padding-top: 15px;
	padding-right: 10px;
	color: #000000;
  font-weight: 500;
}

